@model IEnumerable<WebApplicationForEnterprise.Models.Supplier>

@{
    ViewData["Title"] = "Index";
}

<h1>ПОСТАЧАЛЬНИКИ</h1>

<p>
    <a asp-action="Create" class="btn create-btn">Додати нового постачальника</a>
</p>
<div class="supplier-grid">

    @foreach (var item in Model)
    {
        <div class="supplier-card">

            <h4>
                @item.Name
            </h4>

            <hr />

            <p>
                <strong>Email:</strong>
                @item.Email
            </p>

            <p>
                <strong>Телефон:</strong>
                @item.PhoneNumber
            </p>

            <p>
                <strong>Адреса:</strong>
                @item.Address
            </p>

            <div class="card-buttons">

                <a asp-action="Edit"
                       asp-route-id="@item.Id"
                       class="btn create-btn">

                    Змінити

                </a>

                <a asp-action="Delete"
                       asp-route-id="@item.Id"
                       class="btn btn-danger">

                    Видалити

                </a>

            </div>

        </div>
    }

</div>
