@model WebApplicationForEnterprise.Models.CustomerOrderItem

<h1>Edit</h1>

<hr />

<div class="row">
    <div class="col-md-4">

        <form asp-action="Edit">

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CustomerOrderId" />

            <div class="form-group">
                <label asp-for="ProductId"></label>

                <select asp-for="ProductId"
                        id="ProductId"
                        class="form-control">

                    @foreach (var product in ViewBag.ProductIdData)
                    {
                        @if (product.Id == Model.ProductId)
                        {
                            <option value="@product.Id"
                                    data-price="@product.SellingPrice"
                                    selected>
                                @product.Name
                            </option>
                        }
                        else
                        {
                            <option value="@product.Id"
                                    data-price="@product.SellingPrice">
                                @product.Name
                            </option>
                        }
                    }

                </select>
            </div>

            <div class="form-group">
                <label asp-for="Quantity"></label>

                <input asp-for="Quantity"
                       id="Quantity"
                       class="form-control"
                       min="1"/>
            </div>

            <div class="form-group">
                <label asp-for="Price"></label>

                <input asp-for="Price"
                       id="Price"
                       class="form-control"
                       readonly />
            </div>

            <br />

            <input type="submit"
                   value="Save"
                   class="btn btn-primary" />

        </form>

    </div>
</div>

@section Scripts
{
    <script>

        const quantityInput =
        document.getElementById("Quantity");

        const productSelect =
        document.getElementById("ProductId");

        const priceInput =
        document.getElementById("Price");

        function calculatePrice()
        {
            let quantity =
            parseFloat(quantityInput.value) || 0;

            let sellingPrice =
            parseFloat(
            productSelect.options[
            productSelect.selectedIndex]
            .dataset.price) || 0;

            priceInput.value =
            quantity * sellingPrice;
        }

        quantityInput.addEventListener(
        "input",
        calculatePrice);

        productSelect.addEventListener(
        "change",
        calculatePrice);

        calculatePrice();

    </script>
}