@model IEnumerable<WebApplicationForEnterprise.Models.PurchaseOrder>
@using WebApplicationForEnterprise.Enums


@{
    ViewData["Title"] = "Закупівлі";

    var pendingOrders = Model
        .Where(x => x.Status == PurchaseOrderStatus.Очікується);

    var deliveredOrders = Model
        .Where(x => x.Status == PurchaseOrderStatus.Доставлено);

    var cancelledOrders = Model
        .Where(x => x.Status == PurchaseOrderStatus.Скасовано);
}

<h1>ЗАКУПІВЛІ</h1>

<p>
    <a asp-action="Create"
           class="btn create-btn">

        Створити закупівлю

    </a>
</p>


@if (pendingOrders.Any())
{
    <h3>Очікуються</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Дата замовлення</th>
                <th>Статус</th>
                <th>Постачальник</th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in pendingOrders)
            {
                <tr>

                    <td>
                        @item.OrderDate
                    </td>

                    <td>
                        @item.Status
                    </td>

                    <td>
                        @item.Supplier.Name
                    </td>

                    <td>

                        <a asp-action="Edit"
                               asp-route-id="@item.Id"
                               class="btn edit-btn">

                            Змінити

                        </a>

                        <a asp-action="Details"
                               asp-route-id="@item.Id"
                               class="btn details-btn">

                            Інформація та товари

                        </a>

                        <a asp-action="Delete"
                               asp-route-id="@item.Id"
                               class="btn delete-btn">

                            Видалити

                        </a>

                    </td>

                </tr>
            }

        </tbody>

    </table>
}


@if (deliveredOrders.Any())
{
    <h3>Доставлено</h3>

    <table class="table">

        <thead>
            <tr>
                <th>Дата замовлення</th>
                <th>Статус</th>
                <th>Постачальник</th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in deliveredOrders)
            {
                <tr>

                    <td>
                        @item.OrderDate
                    </td>

                    <td>
                        @item.Status
                    </td>

                    <td>
                        @item.Supplier.Name
                    </td>

                    <td>

                        <a asp-action="Details"
                               asp-route-id="@item.Id"
                               class="btn details-btn">

                            Інформація та товари

                        </a>

                    </td>

                </tr>
            }

        </tbody>

    </table>
}


@if (cancelledOrders.Any())
{
    <h3>Скасовано</h3>

    <table class="table">

        <thead>
            <tr>
                <th>Дата замовлення</th>
                <th>Статус</th>
                <th>Постачальник</th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in cancelledOrders)
            {
                <tr>

                    <td>
                        @item.OrderDate
                    </td>

                    <td>
                        @item.Status
                    </td>

                    <td>
                        @item.Supplier.Name
                    </td>

                    <td>

                        <a asp-action="Details"
                               asp-route-id="@item.Id"
                               class="btn details-btn">

                            Інформація та товари

                        </a>

                    </td>

                </tr>
            }

        </tbody>

    </table>
}