@model IEnumerable<WebApplicationForEnterprise.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>КЛІЄНТИ</h1>

<p>
    <a asp-action="Create" class="btn create-btn">Додати нового клієнта</a>
</p>
<div class="customer-list">

    @foreach (var item in Model)
    {
        <div class="customer-card">

            <div class="customer-info">

                <h4>
                    @item.Name
                </h4>

                <p>
                    <strong>Email:</strong>
                    @item.Email
                </p>

                <p>
                    <strong>Телефон:</strong>
                    @item.PhoneNumber
                </p>

                <p>
                    <strong>Адреса:</strong>
                    @item.Address
                </p>

            </div>

            <div class="customer-buttons">

                <a asp-action="Edit"
                       asp-route-id="@item.Id"
                       class="btn create-btn">

                    Змінити

                </a>

                <a asp-action="Delete"
                       asp-route-id="@item.Id"
                       class="btn btn-danger">

                    Видалити

                </a>

            </div>

        </div>
    }

</div>
